uipath
sqlalchemy
imapclient
selenium
appium-python-client
requests
pandas
numpy
matplotlib
pdf2image
pytesseract
opencv-python
pillow
pyautogui
psycopg2-binary
alembic
robotframework
pyzmail36
db-sqlite3
pyodbc
